.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  &__mask {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    z-index: 1;

    width: 400px;
    max-width: calc(100% - 32px);
    padding: 20px;

    background-color: #f1f5f9;
    border-radius: 8px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;

    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
  }
}
